.*
*~
!/.gitignore
!/.travis.yml
*.exe
*.obj
*.lib
*.o
*.lo
*.la
*.pc
*.tar.gz
*.dSYM
/primesieve
doc/Doxyfile
doc/html
Makefile
Makefile.in
autoconf.h*
/aclocal.m4
/ar-lib
/autom4te.cache/
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
stamp-*
/test-driver
/compile
