.*
*~
!/.github
!/.gitignore
*.exe
*.tar.gz
*.zip
*.obj
*.lib
*.o
*.pc
*.dSYM
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
/primesieve*
!/primesieve.pc.in
/libprimesieve*
doc/primesieve.xml
doc/Doxyfile
doc/html
doc/latex
/build*
