.*
*~
!/.gitignore
!/.travis.yml
*.exe
*.obj
*.lib
*.o
*.lo
*.la
/primesieve
Makefile
Makefile.in
autoconf.h*
/aclocal.m4
/ar-lib
/autom4te.cache/
/config.*
/configure
/depcomp
/html
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
stamp-*
/test-driver
/compile
